@using AmphiprionCMS.Components
@model AmphiprionCMS.Models.ContentPage
          @{
              Layout = Layout = Request.IsAjaxRequest() ? null :AmphiprionCMSInitializer.Configuration.Layout;
          }
@section rawHeader{
    @if (!string.IsNullOrEmpty(Model.Page.MetaDescription))
    {
     <meta name="description" content="@Model.Page.MetaDescription">
    }
    @if (!string.IsNullOrEmpty(Model.Page.MetaKeywords))
    {
      <meta name="keywords" content="@Model.Page.MetaKeywords">
    }    
}
<div class="page-container">
    <h1>@Model.Page.Title</h1>
   
    <div class="ugc">
       @Html.Raw(Model.Page.HtmlDescription)
    </div>
</div>


